[flake8]
max-line-length = 88
extend-ignore = E203, E501
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv,
    .tox,
    .eggs,
    *.egg-info,
    .cache,
    .pytest_cache

per-file-ignores =
    __init__.py:F401